.logo{
    width: 190px;
    height: 44px;
}

 
@media screen and (max-width: 414px){
    .logo{
        width: 156px;
        height: 36px;
        font-size: 18px;
        line-height: 24px;
    }
}